@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

:root {
    --h1-font-size: 2.4rem;
    --h2-font-size: 2rem;
    --p-font-size: 1.4rem;
}

*,
*::after,
*::before {
    font-family: 'Bubblegum Sans', sans-serif;
    margin: 0px;
    color: black;
    font-size: 1.5rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#control-panel {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#game-board {
    height: 100vmin;
    width: 100vmin;
    order: 2;
    display: grid;
    grid-template-columns: repeat(21, auto);
    grid-template-rows: repeat(21, auto);
    background-image: url("assets/gameboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-container {
    margin: 0.8rem;
}

input[type="range"] {
    display: block;
    width: 18rem;
}

.snake {
    background-image: url("assets/body.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.head-up {
    background-image: url("assets/head-up.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.head-down {
    background-image: url("assets/head-down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.head-right {
    background-image: url("assets/head-right.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.head-left {
    background-image: url("assets/head-left.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tail-up {
    background-image: url("assets/tail-up.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tail-down {
    background-image: url("assets/tail-down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tail-right {
    background-image: url("assets/tail-right.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tail-left {
    background-image: url("assets/tail-left.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.corner-top-left {
    background-image: url("assets/corner-top-left.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.corner-top-right {
    background-image: url("assets/corner-top-right.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.corner-bottom-left {
    background-image: url("assets/corner-bottom-left.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.corner-bottom-right {
    background-image: url("assets/corner-bottom-right.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.food {
    background-image: url("assets/food.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}